/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .more-link, etc.
 */

/*
 * Wrappers
 */

html, body, #page, #header, #columns, #content-column, #main-content, #content, #footer, .region {}

.region-inner .region-inner {
  margin: 0; }

/*
 * Branding
 */

#logo {
  padding: 10px 0;
  img {
    vertical-align: bottom; } }

#name-and-slogan {}

#site-name a {
  &:link, &:visited {
    text-decoration: none; }
  &:hover, &:focus {
    text-decoration: underline; } }

#site-slogan, .region-header, .region-highlighted, #main-content-header, h1#page-title {}

div {
  &.messages {
    margin: 1.5em 0;
    /* Drupal core uses "6px 0" margin */
    ul {
      margin-top: 0;
      margin-bottom: 0; } }
  &.status {}
  &.warning {
    /* border: 1px solid #f0c020; */
    /* Drupal core uses: 1px solid #f0c020 */ } }

tr.warning {
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */ }

div.error, tr.error {}

.error {
  /* color: #e55; */
  /* Drupal core uses a #e55 background */ }

.warning {
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */ }

.region-help, .more-help-link, .region-content, .region-aside {}

ul.links {
  margin: 0;
  padding: 0;
  &.inline {
    display: block;
    /* Let the links be inline, but the container be a block. */ }
  li {
    display: inline;
    list-style-type: none;
    padding: 0 10px 0 0;
    /* LTR */ } }

.feed-icon, .more-link, .region-sidebar-first, .region-sidebar-second, #page-wrapper, #leaderboard-wrapper {}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first.
 */

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second.
 */

/*
 * Full Width Wrappers - these are used in the optional page--full-width-wrappers.tpl.php template.
 */

#header-wrapper {
  background: #ddd;
  /* Debug style, is this working? */ }

#nav-wrapper, #breadcrumb-wrapper, #messages-help-wrapper, #secondary-content-wrapper, #content-wrapper, #tertiary-content-wrapper {}

#footer-wrapper {
  background: #666;
  /* Debug style, is this working? */
  color: #fff;
  /* Debug style, is this working? */ }
