/**
 * @file
 * Panels Styling
 */

.page-panels, .panel-display, .panel-panel .inside {}

/*
 * AT Panels use different classes to the standard Panels layouts, instead
 * AT Panels mimic Drupal core regions and use "region region-[region-name]"
 * classes instead of bespoke Panels-esque class naming. You will find both
 * sets of classes below.
 */

/* All Panels Layouts */

/* AT Panel and Gpanel Layouts */

.at-panel {
  .region, .region-inner, .panel-row {} }

/*
 * Panes
 */

.panel-pane {
  margin-bottom: 20px; }

.pane-inner, .pane-title, .pane-content {}

.panel-pane {
  .feed, .links, .more-link {} }

/*
 * Mini Panels
 */

.block-panels_mini {
  padding: 0; }

.block-panels-mini .block-inner {}
