.three-inset-right .region-three-inset-right-sidebar {float:right;width:25%}
.three-inset-right .inset-wrapper {float:right;width:75%}
.three-inset-right .inset-wrapper .region {float:none;display:block;width:100%}