/**
 * @file
 * Table Styling
 */


table {
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
  font: 100%;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

table.sticky-header {
  z-index: 10;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead th {
  color: #494949;
  font-weight: 700;
}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px; /* Reset the padding on th and td to something more usable */
}

tbody {
}

tr.even,
tr.odd {
  border-bottom: 0;
}

/* Table row striping with classes and nth-child selector */
tr.odd,
tr.info,
tbody tr:nth-child(2n+1) {
  background-color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}

tr.even {
  background-color: #fff;
}

tr.drag {
}

tr.drag-previous {
}

tr.odd td.active {
  background-color: #eee;
}

tr.even td.active {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.2);
}
