/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .more-link, etc.
 */


/*
 * Wrappers
 */
html {
}
 
body {
}

#page /* Page wrapper, includes the .container class which sets the overall page or section width. */ {
}

#header /* Main site header. */ {
}

#columns /* Wraps the 3 vertical columns - content, sidebar-first and sidebar-second. */ {
}

#content-column /* Floats the main content column. */ {
}

#main-content /* Wraps the main-content-header, the content region and feed-icons. */ {
}

#content /* Wraps the content region. */ {
}

#footer /* Main site footer. */ {
}

.region /* Region wrapper - anything that adds width or positioning can break the layout. */ {
}

.region-inner /* By default this sets up 20px gutters i.e. margin: 0 10px. */ {
}

.region-inner .region-inner /* Strip nested region-inner margins by default. */ {
  margin: 0;
}


/*
 * Branding
 */
#logo /* Wrapping link for logo */ {
  padding: 10px 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* hgroup wrapper for website name and slogan, be careful with display properties as this can be hidden */ {
}

#site-name /* The name of the website */ {
}

#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website. */ {
}

.region-header /* Wrapper for any blocks placed in the header region. */ {
}

.region-highlighted {
}

#main-content-header /* Wraps the page title, tabs and actions links. */ {
}

h1#page-title, /* The title of the page. */ {
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

.region-aside /* Akin to a content-bottom region */ {
}

ul.links /* List of links generated by theme_links(). */ {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 10px 0 0; /* LTR */
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first.
 */
.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second.
 */
.region-sidebar-second {
}


/*
 * Full Width Wrappers - these are used in the optional page--full-width-wrappers.tpl.php template.
 */
 
#page-wrapper {
}

#leaderboard-wrapper {
}

#header-wrapper {
  background: #ddd; /* Debug style, is this working? */
}

#nav-wrapper {
}

#breadcrumb-wrapper {
}

#messages-help-wrapper {
}

#secondary-content-wrapper {
}

#content-wrapper {
}

#tertiary-content-wrapper {
}

#footer-wrapper {
  background: #666; /* Debug style, is this working? */
  color: #fff; /* Debug style, is this working? */
}
