/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 1.5em 0;
}

#comments h2.comment-title /* Heading for the list of comments */ {
}

#comments h2.comment-form /* Heading for the comment form */ {
}

.comment /* Wrapper for a single comment */ {
  margin-bottom: 20px;
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
  background-color: #ffffea; /* Drupal core will use a #ffffea background. See #1110842 */
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */ {
}

.comment-new /* Comment is new for the current user */ {
}

.comment-by-anonymous /* A comment created by an anonymous user */ {
}

.comment-by-node-author /* A comment created by the node's author */ {
}

.comment-by-viewer /* A comment created by the current user */ {
}

.comment-title-hidden /* The comment title is hidden using element-invisible */ {
}

.comment-with-picture /* Comment user picture are enabled */ {
}

.comment-with-signature /* User signatures are enabled */ {
}

h3.comment-title /* Comment title */ {
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment .user-picture /* The picture of the comment author */ {
}

.comment .submitted /* The "posted by" information wrapper (uses the footer element) */ {
}

.comment .submitted p /* Submitted by elements are wrapped in a paragraph, is the equivalent to .comment footer.submitted > p */ {
}

.comment .submitted .username /* Submitted by user name is wrapped in a span or an link depending on user permissions to view user profiles */ {
}

.comment .submitted time  /* Submitted by time element */ {
  text-transform: uppercase;
  font-size: 75%;
}

.comment .user-signature /* The user's signature */ {
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
}

.indented /* Nested comments are indented */ {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}
