/* Layout */
html, body {
  margin: 0;
  padding: 0;
}

/* Center layout be default */
.container {
  margin: 0 auto;
}

/* Prevent the layout from collapsing if there is nothing in the content column */
.content-inner {
  min-height: 1px;
}
.lt-ie7 .content-inner {
  height: 1px;
}

/* Add gutters */
.block-inner,
.pane-inner,
div.messages,
#branding,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content,
#attribution,
.at-panel .rounded-corner {
  margin-left: 10px;
  margin-right: 10px;
}

/* AT Panels needs special margin wrangling when in the content region */
#content .at-panel {
  margin-left: -10px;
  margin-right: -10px;
}

/* Ensure the content column is always the full width of its container */
#content-column,
.content-column {
  width: 100%;
}

/* Clear floating elements :: legacy, this is really no longer required */
.clear,
#columns,
#breadcrumb,
#crumbs,
.region-secondary-content,
.region-tertiary-content,
.region-footer,
#block-admin-display-form  {
  clear: both;
}

/* Strip block margin inside content column area. */
.content-inner .block {
  margin: 0;
}

/* Compass clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* AT Panels */
.one-column .region,
div.at-panel .region-conditional-stack {
  float: none;
  display: block;
  clear: both;
  width: 100%;
}
.lt-ie8 .at-panel {
  overflow: hidden;
}






