/* Theme Settings CSS
   This is crafted to work with Seven and AT Admin themes,
   other admin themes could spit the dummy with these styles. */
.theme-settings-header {
  background: #e7e7e7;
  padding: 10px;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.theme-settings-header h1 {
  margin: 0;
  float: left;
  font-size: 1.25em;
  text-shadow: 1px 1px 1px #fff;
}
.layout-header a {
  display: block;
  float: right;
  width: 65px;
}
.layout-header a img {
  width: 100%;
  height: auto;
}
.admin-theme-adaptivetheme_admin div.vertical-tabs {
  margin: 0 0 20px 15em;
}
div.vertical-tabs .vertical-tabs-panes {
  min-height: 300px;
}
.vertical-tabs-panes .form-item {
  clear: both;
}
.vertical-tabs-panes label {
  font-weight: 400;
  margin: 0 0 5px;
  display: inline-block;
}
.vertical-tabs-panes select {
  width: auto;
  max-width: 960px; /* Mitigate huge width when page is zoomed */
}
#edit-font label {
  width: 10em;
}
#edit-font #edit-font-size {
  width: auto;
}
#edit-breadcrumb select#edit-breadcrumb-display,
#edit-breadcrumb input#edit-breadcrumb-separator {
  width: auto;
}
#edit-pagestyles fieldset p {
  margin-bottom: 0;
}
.vertical-tabs-panes .form-type-checkbox label,
.vertical-tabs-panes .form-type-radios label {
  float: none;
  width: auto;
}
.vertical-tabs-panes fieldset fieldset {
  background: #f7f7f7;
  border: 0;
  margin: 1px 0;
}
.vertical-tabs-panes fieldset fieldset .fieldset-wrapper {
  padding-top: 10px;
}
.vertical-tabs-panes fieldset fieldset .fieldset-wrapper .fieldset-description {
  padding-bottom: 5px;
}
fieldset.at-layout-form div.form-item  label[for*="-media-query"] {
  padding-bottom: 10px;
}
fieldset.at-layout-form div.form-item[class*="-media-query"] .description {
  padding-top: 3px;
}
.vertical-tabs .form-type-textfield input {
  width: auto;
}
/* Layout settings */
.at-layout-form div.form-item {
  float: left;
  margin-right: 25px;
  clear: none;
}
fieldset.at-layout-form div.form-item  label,
fieldset.at-layout-form div.form-type-checkbox {
  float: none;
  width: auto;
}
fieldset.at-layout-form div.form-item input {
  width: 8em;
  max-width: 120px;
}
fieldset.at-layout-form select {
  width: 4em;
   max-width: 100px;
}
fieldset.at-layout-form div.form-type-checkbox label,
fieldset.at-media-queries div.form-type-textfield label {
  font-weight: 700;
}
fieldset.at-media-queries div.form-item {
  margin-right: 0;
}
fieldset.at-media-queries div.form-item,
fieldset.at-media-queries div.form-type-textfield input {
  width: 90%;
  max-width: 960px;
}
h4 {
  margin-bottom: 0;
}
fieldset.at-layout-form div.form-type-radio {
  clear: none;
  float: left;
  margin: 0 30px 10px 0;
  text-align: center;
  width: 80px;
}
fieldset.at-layout-form div.form-type-radio input,
fieldset.at-layout-form div[class*="set-max-width"] input  {
  width: auto;
}
fieldset.at-layout-form div.form-type-radio label,
div.smartphone-portrait-layout  {
  background: url(images/layouts.png);
  background-repeat: no-repeat;
  margin-top: 4px;
  height: 80px;
  width: 80px;
  text-indent: -99999em;
  overflow: hidden;
  display: block;
  float: none;
  text-align: center;
}
#edit-bigscreen-layout-wrapper .form-type-radio label[for=edit-bigscreen-layout-three-col-grail],
#edit-tablet-landscape-layout-wrapper .form-type-radio  label[for=edit-tablet-landscape-layout-three-col-grail]  {background-position: 0 0;}
#edit-bigscreen-layout-wrapper .form-type-radio label[for=edit-bigscreen-layout-three-col-right],
#edit-tablet-landscape-layout-wrapper .form-type-radio  label[for=edit-tablet-landscape-layout-three-col-right]  {background-position: 0 -80px;}
#edit-bigscreen-layout-wrapper .form-type-radio label[for=edit-bigscreen-layout-three-col-left],
#edit-tablet-landscape-layout-wrapper .form-type-radio  label[for=edit-tablet-landscape-layout-three-col-left]  {background-position: 0 -160px;}
#edit-tablet-landscape-layout-wrapper .form-type-radio  label[for=edit-tablet-landscape-layout-two-col-stack],
#edit-tablet-portrait-layout-wrapper .form-type-radio  label[for=edit-tablet-portrait-layout-two-col-stack]  {background-position: 0 -240px;}
#edit-tablet-portrait-layout-wrapper .form-type-radio  label[for=edit-tablet-portrait-layout-one-col-vert],
#edit-smartphone-landscape-layout-wrapper .form-type-radio label[for=edit-smartphone-landscape-layout-one-col-vert]  {background-position: 0 -320px;}
#edit-tablet-portrait-layout-wrapper .form-type-radio  label[for=edit-tablet-portrait-layout-one-col-stack],
#edit-smartphone-landscape-layout-wrapper .form-type-radio label[for=edit-smartphone-landscape-layout-one-col-stack],
div.smartphone-portrait-layout  {background-position: 0 -400px;}
div.smartphone-portrait-layout  {
  float: left;
  margin: 15px 15px 0 0;
}

/* Test lable as hover tip
fieldset.at-layout-form div.form-type-radio label:hover  {
  position: relative;
  text-indent: 0;
}
fieldset.at-layout-form div.form-type-radio label span  {
  display: block;
  height: 70px;
  width: 78px;
  padding: 5px 1px;
  position: absolute;
  z-index: 100;
  font-size: 0.8em;
  background: transparent;
  top: 0;
  left: 0;
}
fieldset.at-layout-form div.form-type-radio label span:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
*/

fieldset#edit-portrait--2  .fieldset-description {
  overflow: hidden;
}
fieldset#edit-landscape,
fieldset#edit-landscape--2,
fieldset#edit-portrait,
fieldset#edit-portrait--2 {
  border: 0;
  background: none;
}
fieldset#edit-landscape > .fieldset-wrapper,
fieldset#edit-landscape--2 > .fieldset-wrapper,
fieldset#edit-portrait > .fieldset-wrapper,
fieldset#edit-portrait--2 > .fieldset-wrapper {
  padding: 0;
}
.vertical-tabs-panes #edit-media-queries  label {
  width: 13em;
}
#edit-media-queries .form-type-checkbox label {
  font-weight: 700;
}
#edit-debug p.warning {
  background: url(images/warning.png) no-repeat left center;
  padding-left: 25px;
}
/* AT Panels */
#edit-rpw > .fieldset-wrapper > .fieldset-description {}
.panel-option-lists .fieldset-wrapper {
  display: table;
  width: 97%;
}
.panel-option-lists .fieldset-wrapper > .form-item {
  display: table-row;
}
.panel-option-lists .fieldset-wrapper > .form-item > label,
.panel-option-lists .fieldset-wrapper > .form-item > div > div {
  display: table-cell;
  vertical-align: middle;
}
.panel-option-lists .fieldset-wrapper > .form-item > label {
  font-weight: 700;
  width: 20%;
}
.panel-option-lists .fieldset-wrapper legend {
  display: block !important; /* need to show these no matter what */
}
.panel-option-lists label {
}
.panel-option-lists .form-type-radio {
  clear: none;
  float: left;
  margin: 0 30px 10px 0;
  text-align: center;
  width: 40px;
}
.panel-option-lists .form-radios label {
  background: #ddd;
  background-repeat: no-repeat;
  margin-top: 4px;
  height: 40px;
  width: 40px;
  text-indent: -99999em;
  overflow: hidden;
  display: block;
  float: none;
  text-align: center;
}
/* Two col sprite */
[id^=edit-twocol] .form-type-radio label {background: url(images/twocol-sprite.png);}
.form-type-radio label[for$=two-50] {background-position: 0 0;}
.form-type-radio label[for$=two-66-33] {background-position: -41px 0;}
.form-type-radio label[for$=two-33-66] {background-position: -82px 0;}
.form-type-radio label[for$=two-brick] {background-position: -123px 0;}
.form-type-radio label[for$=two-brick-stack] {background-position: -164px 0;}
.form-type-radio label[for$=two-50-stack],
.form-type-radio label[for$=two-66-33-stack],
.form-type-radio label[for$=two-33-66-stack] {background-position: -205px 0;}
/* Three col sprite */
[id^=edit-threecol] .form-type-radio label {background: url(images/threecol-sprite.png);}
.form-type-radio label[for$=three-3x33] {background-position: 0 0;}
.form-type-radio label[for$=three-3x33-stack-top] {background-position: -41px 0;}
.form-type-radio label[for$=three-3x33-stack-bottom] {background-position: -82px 0;}
.form-type-radio label[for$=three-25-50-25] {background-position: 0 -41px;}
.form-type-radio label[for$=three-25-50-25-stack-top] {background-position: -41px -41px;}
.form-type-radio label[for$=three-25-50-25-stack-bottom] {background-position: -82px -41px;}
.form-type-radio label[for$=three-25-25-50] {background-position: 0 -82px;}
.form-type-radio label[for$=three-25-25-50-stack-top] {background-position: -41px -82px;}
.form-type-radio label[for$=three-25-25-50-stack-bottom] {background-position: -82px 0;}
.form-type-radio label[for$=three-50-25-25] {background-position: 0 -123px;}
.form-type-radio label[for$=three-50-25-25-stack-top] {background-position: -41px 0;}
.form-type-radio label[for$=three-50-25-25-stack-bottom] {background-position: -41px -123px;}
.form-type-radio label[for$=three-3x33-stack],
.form-type-radio label[for$=three-25-50-25-stack],
.form-type-radio label[for$=three-25-25-50-stack],
.form-type-radio label[for$=three-50-25-25-stack] {background-position: -82px -82px;}
/* Four col sprite */
[id^=edit-fourcol] .form-type-radio label {background: url(images/fourcol-sprite.png);}
.form-type-radio label[for$=four-4x25] {background-position: 0 0;}
.form-type-radio label[for$=four-4x25-right-stack] {background-position: -41px 0;}
.form-type-radio label[for$=four-4x25-2x2-grid] {background-position: -82px 0;}
.form-type-radio label[for$=four-4x25-stack] {background-position: -123px 0;}
/* Five col sprite */
[id^=edit-fivecol] .form-type-radio label {background: url(images/fivecol-sprite.png);}
.form-type-radio label[for$=five-5x20] {background-position: 0 0;}
.form-type-radio label[for$=five-5x20-2x3-grid] {background-position: -41px 0;}
.form-type-radio label[for$=five-5x20-1x2x2-grid] {background-position: -82px 0;}
.form-type-radio label[for$=five-5x20-stack-2] {background-position: -123px 0;}
.form-type-radio label[for$=five-5x20-stack] {background-position: -164px 0;}
/* Six col sprite */
[id^=edit-sixcol] .form-type-radio label {background: url(images/sixcol-sprite.png);}
.form-type-radio label[for$=six-6x16] {background-position: 0 0;}
.form-type-radio label[for$=six-6x16-3x2-grid] {background-position: -41px 0;}
.form-type-radio label[for$=six-6x16-2x3-grid] {background-position: -82px 0;}
.form-type-radio label[for$=six-6x16-stack] {background-position: -123px 0;}
/* Inset sprite */
[id^=edit-inset] .form-type-radio label {background: url(images/inset-sprite.png);}
.form-type-radio label[for$three-inset-left] {background-position: 0 0;}
.form-type-radio label[for$=three-inset-left-wrap] {background-position: -41px 0;}
.form-type-radio label[for$=three-inset-left-stack] {background-position: -164px 0;}
.form-type-radio label[for$=three-inset-right] {background-position: -82px 0;}
.form-type-radio label[for$=three-inset-right-wrap] {background-position: -123px 0;}
.form-type-radio label[for$=three-inset-right-stack] {background-position: -164px 0;}
/* Wrangel fielset wrappers */
html.js .vertical-tabs-panes fieldset.collapsed div.fieldset-wrapper {
  overflow: hidden;
  display: none !important;
}
/* Fonts */
fieldset#edit-font .fieldset-wrapper legend {
  display: block;
  padding-top: 10px;
}
fieldset#edit-font .fieldset-wrapper .fieldset-wrapper {
  padding-top: 35px;
}
.vertical-tabs-panes select.font-size-wrapper {}
/* style select list websafe fonts */
.font-element-wrapper option[value$=-ssl] {font-family: Verdana, Geneva, 'DejaVu Sans', Arial, Helvetica, sans-serif;}
.font-element-wrapper option[value$=-a]     {font-family: Arial, Helvetica, sans-serif;}
.font-element-wrapper option[value$=-cc]   {font-family: Calibri, Candara, Arial, Helvetica, sans-serif;}
.font-element-wrapper option[value$=-m]     {font-family: 'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;}
.font-element-wrapper option[value$=-l]     {font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-seri;}
.font-element-wrapper option[value$=-i]    {font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;}
.font-element-wrapper option[value$=-ss]   {font-family: Garamond, Perpetua, 'Times New Roman', serif;}
.font-element-wrapper option[value$=-sl]   {font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;}
.font-element-wrapper option[value$=-ms]   {font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;}
/* Heading styles for advanced themes */
#edit-headings .form-type-radios {
  width: 12em;
  float: left;
  clear: none;
}
/* Global settings form is ugly */
#edit-global-settings .fieldset-description {
  padding-bottom: 0;
}
/* Give some real definition to disabled selects */
select[disabled],
fieldset[disabled] select,
input[disabled] {
  background: #eee;
  border-color: #ccc;
  color: #666;
}
/* Seven tidy up */
.admin-theme-seven .font-element-wrapper .fieldset-legend,
.admin-theme-seven .panel-option-lists .fieldset-legend {
  position: static;
}
.admin-theme-seven .panel-option-lists .form-type-radio {
  margin-right: 20px;
}
